@import url(./reset.css);
@import url(./header.css);
@import url(./footer.css);
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');


@media (max-width:480px) {
    body {
        width: 100vw;
        height: 15vw;
    }

    img {
        width: 100vw;
        height: 100vw;
    }

    #levrone {
        width: 0vw;
        height: 0vw;
        margin-left: 20w;
        margin-top: 5vw;
        position: absolute;
    }

    .cabecalho-titulo {
        position: relative;
        margin-left: 50vw;
        margin-top: 20vw;
        font-size: 100px;
    }


}

body {
    width: 100vw;
    height: 15hw;
    background-color: rgb(250, 250, 250);
    color: #000000;
    font-family: "Cinzel", serif;
}

img {
    width: 100%;
    height: 100%;
}

#valknut {
    width: 25vw;
    height: 25vw;
    margin-left: 20vw;
    margin-top: 5vw;
    position: absolute;
}

.cabecalho-titulo {
    position: absolute;
    margin-left: 50vw;
    margin-top: 18vw;
    font-size: 100px;
}

.seila {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    margin-left: 51vw;
    margin-top: 23vw;
}

.butoes {
    align-items: center;
}

.musica {
    position: absolute;
    left: 70px;
    top:700px
}