#levrone {
    width: 30%;
    padding-left: 35%;
}

.seila {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

footer {
    background-color: rgb(219, 196, 196);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size:16px;
}

.cabecalho-titulo {
    text-align: center;
}

.butoes {
    align-items: center;
}