<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos</title>
<link rel="stylesheet" href="./../css/formacao/formacao.css">
    <script src="https://kit.fontawesome.com/10b1b3eb1e.js" crossorigin="anonymous"></script>
    <script type="module" src="./../../controller/formacao/formacao.js"></script>
</head>

<body>

    <header>

        <div id="logo">
            <img id="logo-imagem" src="./../../assets/img/naveship.jpg">
            <p id="aluno">Aluno WEBBES</p>
        </div>
        <div class="butoes">
            <button class="btn" onclick="window.location.href='./index.html'">
                <h6>Home</h6>
                <i class="fa-solid fa-house"></i>
            </button>
            <button class="btn" onclick="window.location.href='./formacao.html'">
                <h6>Formação</h6>
                <i class="fa-solid fa-graduation-cap"></i>
            </button>
            <button class="btn" onclick="window.location.href='./projetos.html'">
                <h6>Projetos</h6>
                <i class="fa-solid fa-folder-open"></i>
            </button>
        </div>
    </header>
    <section id="cartoes"></section>
</body>